@model IEnumerable<MCM.Models.Bank>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BankCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BankName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BankInfo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BankActive)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BankCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BankName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BankInfo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BankActive)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BankID }) |
            @Html.ActionLink("Details", "Details", new { id=item.BankID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BankID })
        </td>
    </tr>
}

</table>
